@media(max-width: 1199px) {
    .container {
        max-width: 930px;
    }
    .intro::before {
        width: 600px;
        background-size: contain;
        background-position: top;
    }
}

@media(max-width: 991px) {
    .container {
        padding: 0 30px;
    }
    .intro {
        padding: 20px 0 60px;
    }
    .intro::before {
        width: 360px;
    }
    .features {
        padding: 50px 0;
    }
    .row {
        flex-wrap: wrap;
    }
    .col4 {
        width: 50%;
    }
    .feature, .article {
        margin-bottom: 30px;
    }
    .footer-list {
        padding-left: 0;
        width: 100px;
    }
    .copyright {
        width: 160px;
        line-height: 1.5;
        margin-left: auto;
    }
    .social {
        margin-right: 55px;
    }
}

@media(max-width: 767px) {
    .intro {
        padding-top: 0;
    }
    .intro::before {
        content: none;
    }
    :root {
        font-size: 13px;
    }
    .main-header .btn {
        display: none;
    }
    .mob-img {
        display: block;
        max-width: 100%;
    }
    .main-nav {
        display: none;
    }
    .menu-toggle {
        display: block;
        border: none;
        background: transparent;
    }
    .intro {
        margin-top: 58px;
    }
    .main-footer {
        text-align: center;
    }
    .footer-links {
        display: block;
        text-align: center;
    }
    .col {
        width: 100%;
    }
    .social {
        margin: 25px 0px;
    }
    .footer-list {
        margin: 0 auto;
    }
    .main-footer .btn {
        margin-top: 20px;
    }
    .copyright {
        width: 100%;
        margin: 25px 0 0;
    }
}


@media(max-width: 565px) {
    .intro-content {
        width: 100%;
    }
    .col4 {
        width: 100%;
    }
    .feature {
        text-align: center;
    }
    .feature-icon {
        margin-left: auto;
        margin-right: auto;
    }
    .articles {
        padding: 30px 0;
    }
    .page-title, .page-text, .intro-content {
        text-align: center;
    }
    .main-title {
        font-size: 2.85rem;
    }
    
}